10142 - AustralianVoting/.main.cpp.swp
10142 - AustralianVoting/.main.cpp.swo
10082 - WERTYU/10082 - WERTYU/Debug/
10149 - Yahtzee/Debug/
/10038 - JollyJumpers/JollyJumpers/Debug
/10150 - Doublets/Doublets/Debug
/10188 - AutomatedJudgeScript/AutomatedJudgeScript/Debug
/10315 - PokerHands/PokerHands/Debug
/10037 - Bridge/Bridge/Debug
/10191 - LongestNap/Debug
